
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0
  
}

ul{
  list-style:none
}
button,input,select{
  margin:0
}
html{
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal; 
  image-rendering: optimizeQuality;
  font-family: "Roboto";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,video{
  height:auto;
  max-width:100%
}
iframe{
  border:0
}
table{
  border-collapse:collapse;
  border-spacing:0
}
td,th{
  padding:0
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
