/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  image-rendering: optimizeQuality;
  font-family: "Roboto";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Core*/
section {
  padding: 1rem;
}

@media screen and (max-width: 750px) {
  header h1 {
    padding-bottom: 10px;
  }
  header {
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
@media screen and (min-width: 750px) {
  header {
    padding: 35px 45px;
  }
}
header h1 a {
  text-decoration: none;
  color: black;
  font-size: 27px;
}

header ul li {
  padding: 0 17px;
}

header nav a, .testbutton {
  color: black;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-size: 17.6px;
  display: inline-block;
  height: 19.6px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
}

header nav a:hover {
  border-bottom: 2px solid #e9e9e9;
}

.current-nav {
  border-bottom: 2px solid #e9e9e9;
}

/*Bottom-Nav*/
.bottom-nav ul {
  display: flex;
  justify-content: space-between;
}

.bottom-nav ul > * {
  flex: 1 1 0px;
}

.bottom-nav a {
  text-align: center;
  text-decoration: none;
  color: #2c2c2c;
  font-size: 12px;
  display: block;
}

.bottom-nav img {
  width: 22px;
  height: 22px;
  display: block !important;
  margin: 3px auto 6px;
}

.bottom-nav {
  background-color: white;
  border-top: #e9e9e9 solid 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*Gallery*/
@media screen and (min-width: 300px) {
  .gallery {
    --column: 2;
    --gap: 10px;
  }
  .video-gallery {
    --video-column: 1;
    --gap: 10px;
  }
}
@media screen and (min-width: 890px) {
  .gallery {
    --column: 3;
    --gap: 30px;
  }
  .video-gallery {
    --video-column: 2;
    --gap: 30px;
  }
  html {
    background-image: url(/assets/img/home-background.jpg);
    background-size: 1920px 2800px;
    background-position: center;
    background-repeat: repeat-y;
  }
}
.gallery {
  margin: 0 auto;
  max-width: 1430px;
  column-count: var(--column);
  column-gap: var(--gap);
}

.gallery img {
  break-inside: avoid;
  margin-bottom: var(--gap);
}

/*Video Gallery*/
.video-gallery {
  margin: 0 auto;
  max-width: 1430px;
  column-count: var(--video-column);
  column-gap: var(--gap);
}

.video-gallery video {
  width: 100%;
  break-inside: avoid;
  margin-bottom: var(--gap);
}

/*Footer*/
footer {
  text-align: center;
}

footer div {
  padding: 60px 0;
}

footer div a,
.socialbar ul a {
  text-decoration: none;
  color: black;
}

footer div a:hover,
.socialbar li a:hover {
  color: #e9e9e9;
}

/*contact*/
.contact {
  text-align: center;
}

.contact .profile {
  max-width: 297px;
  width: 100%;
}

.contact p {
  max-width: 500px;
  margin: 0 auto;
}

.contact li {
  padding: 7px 0;
}

.contact .maps {
  padding-top: 7px;
  max-width: 800px;
  width: 100%;
}

/*Button*/
.btn {
  display: inline-block;
  height: 22.7px;
  color: black;
  font-family: "Roboto";
  text-transform: none;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 18.7px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid #e9e9e9;
}

/* hide util*/
@media screen and (max-width: 750px) {
  .sm-screen {
    display: none;
  }
}
@media screen and (min-width: 725px) {
  .lg-screen {
    display: none;
  }
  .bottom-nav {
    display: none;
  }
}
/*Sidebar*/
.socialbar {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1349px) {
  .socialbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .socialbar li,
  .locationbar li {
    padding: 14px;
  }
  .locationbar {
    display: none;
  }
}
@media screen and (min-width: 1544px) {
  .socialbar {
    left: 0;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }
  .socialbar li {
    padding: 14px 29px;
  }
  .locationbar {
    transform: rotate(90deg) translate(20%, 0);
    right: 0;
    position: fixed;
    top: 50%;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
  }
}
/*impressum, datenschutz*/
.page main {
  max-width: 600px;
  margin: 0 auto;
}

/* .cs-container {
  display: grid;   grid-template-columns: auto 1fr auto; 
  align-items: center;   position: relative;
}
.cs-toggle {
  display: none;
}
.cs-logo {
    grid-column: 1; }
.cs-nav {
  grid-column: 2;    justify-self: center;
}
.cs-ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.testbutton{
    grid-column: 3; 
justify-self: end; } */
.cs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cs-toggle {
  display: none;
}

.cs-logo {
  flex-grow: 1;
  flex-basis: 0;
}

.cs-ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.testbutton {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

.skip {
  z-index: -1111111;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}