.faq
{
a{
  color: black;
  background-color: #ffff002e;}
  details {
  border-bottom: 1px solid #d3d3d35c;
  padding: 30px 0;
  }

  details div {
  max-width:550px;
  margin: 0 auto;
  text-align: center;
  }
}
.faq {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* For screens 1024px and up */
@media (min-width: 1024px) {
    .faq {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

/* For screens 1300px and up */
@media (min-width: 1300px) {
    .faq {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
