.footer {
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  align-items: center;
  padding-top:150px;
  padding-bottom:135px;
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__nav {
    flex: 1;
    a {
      text-decoration: none;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none; /* Remove default list styling */
      padding: 0; /* Remove padding */
      margin: 0; /* Remove margin */
      max-width: 365px;
    }

    li {
      position: relative; /* Position relative for the pseudo-element */
    }
    li:first-child {
      padding-left: 0px;
    }
    li:not(:last-child)::after {
            padding-right: 10px; /* Add some space for the decoration */

      content: "\00a0|"; /* The decoration */
      color: black; /* Change color as needed */
    }
  }
  &__anschrift {
    text-align: center;
  }
  &__legal {
    flex: 1;
    text-align: right;
  }
}
footer *{
 
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  text-decoration:none;
    color: black;
    font-size:16px;

}
@media (max-width: 1023px) {
.footer{

flex-flow:column;
}
footer * {
  text-align:center;
}
footer nav ul {
  justify-content: center;}
}

