
backend:
  name: git-gateway
  branch: master

local_backend: true

media_folder: "src/assets/images/content" # This is for blog images
public_folder: "/assets/images/content" # This is for blog images

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - {
          label: "URL Slug",
          name: "url",
          widget: "string",
          hint: 'Specify where the page will be written to. If you use "Blog Post", the post will be accessible from "blog/blog-post"',
        }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Author", name: "author", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Tags", name: "tags", widget: "list", default: ["post"] }
      - { label: "Featured Image", name: "image", widget: "image" }
      - { label: "Image Caption", name: "imageAlt", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "pages" # Used in routes, e.g., /admin/collections/pages
    label: "Pages"
    folder: "src/content/pages" # Folder where your content files are stored
    create: false 
    slug: "{{slug}}"
    fields:
      - { label: "Content", name: "body", widget: "markdown" }
  - name: "Gallery"
    label: "Gallery"
    folder: "src/content/images"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Featured Image", name: "image", widget: "image" }
      - { label: "Image Caption", name: "imageAlt", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  
